<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" thread-count="4" parallel="tests">
    <listeners>
        <listener class-name="com.test.Utils.Listener"/>
        <listener class-name="com.test.Utils.AnnotationTransformer"/>
    </listeners>
    <test name="CucumberAppiumTest-Android">
        <parameter name="platform" value="Android"></parameter>
        <parameter name="platformVersion" value="8.1.0"></parameter>
        <parameter name="deviceName" value="device"></parameter>
        <parameter name="port" value="2315"></parameter>
        <parameter name="udid" value="">Emulator-5554</parameter>
        <!--<parameter name="udid" value="32085b6d8fdb71ff"></parameter>-->
        <classes>
            <class name="com.test.Runner.RunCukesTest"/>
        </classes>
    </test> <!-- CucumberAppiumTest -->
    <!--<test name="CucumberAppiumTest-IOS">-->
        <!--<parameter name="platform" value="iOS"></parameter>-->
        <!--<parameter name="platformVersion" value="11.4"></parameter>-->
        <!--<parameter name="deviceName" value="iPhone 7"></parameter>-->
        <!--<parameter name="port" value="2317"></parameter>-->
        <!--<parameter name="udid" value="14D1F964-F72F-4AF3-84BD-08CD706D348B"></parameter>-->
        <!--<classes>-->
            <!--<class name="com.test.Runner.RunCukesTest"/>-->
        <!--</classes>-->
    <!--</test> &lt;!&ndash; CucumberAppiumTest &ndash;&gt;-->
</suite> <!-- Default Suite -->
